body, html {
    margin: 0;
    padding: 0;
}

main, footer {
    max-width: 800px;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.block-paragraph {
    font-size: 35px;
    margin-top: 30px;
}